.bg{
    background-color: black;
}

.h1{
    color: white;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 100;
}


.item{
    display: inline-block;
    margin-left: 82px;
    width: 310px;
    height: 370px;
    border-radius: 20px;
}


.space{
    background-color: rgb(206, 206, 206);
    height: 80px;
    position: relative;
    top: 256px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.85;
}

.snatch{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imgs/snatch.jpg)
}

.pf{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imgs/pf.jpg);
}

.chef{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imgs/chef.jpg);
}

.write1{
    margin: 10px 24px;
    position: relative;
    top: 9px;    
    font-family: sans-serif;
}

.write2{
    margin-left: 25px;
    font-family: sans-serif;
}

.bars{
    color: black;
    background-color: #7efb9c;
    display: inline-block;
    font-family: sans-serif;
    position: relative;
    left: 30px;
    bottom: 12px;
    height: 22px;
    width: 80px;
    text-align: center;
    padding-top: 2px;
    border-radius: 2px;
}